h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya';
}

h2 a {
    color: #444444;
}

body {
    color: #333;
    background-color: #555;
    background-image: url("../img/bg.jpg");
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
    color: #EE4422;
}

a:hover {
    color: #f96800;
}

.site-container {
}

.container {
    display: grid;
    grid-template-columns: 0.25fr 1px 0.75fr;
    grid-template-rows: auto;
    max-width: 1000px;
    min-height: 870px;
    height: 100%;
    position: relative;
    /* background-color: #992222; */
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
    
    list-style-type: square;
}


.navbar-default {
    background-color: #222222;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    border: none;
    height: 80px;
    width: 100%;
    
}

.navbar-default .navbar-brand {
    color: #fff;
    padding-left: 150px;
    font-family: 'Alegreya';
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    hover: #ed7621;
}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
    background-color: #EE4422;
}

.navbar-default .navbar-nav .active a {
    color: #fff;
    background-color: #333;
}

.navbar-default .navbar-toggle:hover{
    background-color: #ed7621;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    position: absolute;
    max-width: 200px;
    margin-top: 20px;
    display: tabel-cell;
    border-radius: 3px;
    height: 100%;
}

#sidebar-info {
    padding: 5px;
    font-size: 14px;
    /*    font-weight: bold;*/
    font-family: monospace;
    color: #fff;
    text-align: center;
    background-color: #222;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
}

#sidebar-icons {
    margin-top: 10px;
    image-align: center;
}

#email-icon {
    width: 30px;
    background-image: url();
}

#sidebar-links {
    color: #fff;
    margin-top: 10px;
    padding: 5px 15px 15px;
    background-color: #222;

    border-style: solid;
    border-width: 3px;
    border-color: #000;
}

#sidebar-links a {
    font-weight: bold;
    font-size: 14px;
}

#sidebar-links li {
    font-size: 14px;
    list-style-type: square;
}



#content {
    /*    visibility: hidden;*/
    grid-column-start: 3;
    gird-column-end: 4;
    position: relative;
    padding-bottom: 60px;
    color: #000;
    max-width: 800px;
    min-width: 400px
    align: right;
    /* margin-left: 210px; */
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);

    border-style: solid;
    border-width: 3px;
    border-color: #000;
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 14px;
    color: #bbb;
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #222;
}

#archive-list {
    font-size: 16px;
    
    a {
	font-size: 90px;
    }
}

#post-tags {
    margin-top: 30px;
    font-weight: bold;
    font-size: 14px;
}

#prev-next {
    padding: 15px 0;
    margin-bottom: 50px;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-body a {
    color: #c64c0f;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content{
        margin-top: 20px;
        padding: 30px 40px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
